@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
* {
    font-family: "Source Sans Pro", sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: #787878;
}
.parent {
    height: 100vh;
    display: grid;
    place-items: center;
}
.grid {
    border: 2px solid #00cce1;
    text-align: center;
    margin: 10px;
    width: 40%;
}
h1 {
    color: #aaffee;
}
p {
    color: #fff;
    font-size: 22px;
    margin: 5px 0px;
}
button {
    width: 100%;
    font-size: 20px;
    padding: 15px;
    border-radius: 15px;
    cursor: pointer;
    color: #ff2029;
    background-color: #d0d5db;
}
button:hover {
    background-color: #b4b4b4;
}
